body {
    background-image: url("station.jpg");
    background-size: cover;
    font-weight: bold;
    text-align: center;
    font-family:'Roboto', sans-serif;;
}

h1 {
    margin-top: 60px;
    margin-bottom: 20px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding: 10px 0;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-family: inherit;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}